@charset "utf-8";

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/NotoSansKR-Thin-Alphabetic.eot),
        url(/fonts/NotoSansKR-Thin-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSansKR-Thin-Alphabetic.woff2) format('woff2'),
        url(fonts/NotoSansKR-Thin.otf) format('opentype');

}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/NotoSansKR-Light-Alphabetic.eot),
        url(/fonts/NotoSansKR-Light-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSansKR-Light-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NotoSansKR-Regular-Alphabetic.eot),
        url(/fonts/NotoSansKR-Regular-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSansKR-Regular-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/NotoSansKR-Medium-Alphabetic.eot),
        url(/fonts/NotoSansKR-Medium-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSansKR-Medium-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/NotoSansKR-Bold-Alphabetic.eot),
        url(/fonts/NotoSansKR-Bold-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSansKR-Bold-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/NotoSansKR-Black-Alphabetic.eot),
        url(/fonts/NotoSansKR-Black-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSansKR-Black-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Black.otf) format('opentype');
}


@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/NotoSerifKR-Light-Alphabetic.eot),
        url(/fonts/NotoSerifKR-Light-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSerifKR-Light-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSerifKR-Light.otf) format('opentype');
}


@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NotoSerifKR-Regular-Alphabetic.eot),
        url(/fonts/NotoSerifKR-Regular-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSerifKR-Regular-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSerifKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/NotoSerifKR-Medium-Alphabetic.eot),
        url(/fonts/NotoSerifKR-Medium-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSerifKR-Medium-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSerifKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/NotoSerifKR-SemiBold-Alphabetic.eot),
        url(/fonts/NotoSerifKR-SemiBold-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSerifKR-SemiBold-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSerifKR-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/NotoSerifKR-Bold-Alphabetic.eot),
        url(/fonts/NotoSerifKR-Bold-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSerifKR-Bold-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSerifKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/NotoSerifKR-Black-Alphabetic.eot),
        url(/fonts/NotoSerifKR-Black-Alphabetic.woff) format('woff'),
        url(/fonts/NotoSerifKR-Black-Alphabetic.woff2) format('woff2'),
        url(/fonts/NotoSerifKR-Black.otf) format('opentype');
}