@charset "utf-8";

span { display: inline-block; }

.tour {
    width: 100%;
    min-height: 938px;
    background-color: #F5F5F5;
    margin: 70px 0;
    border-top: 3px solid #01122D;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.map_box { height : 520px; margin-bottom : 70px; }

.map {
    width: 100%;
    height: /* 622px; */ 100%;
    background-color: #D5D5D5;
/*     margin-bottom: 70px; */
}


/* tour_info */
.tour_info .info_tit { width: 100%; text-align: center; }

.tour_info .info_tit>span {
    display: inline-block;
    padding: 10px 100px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    border-radius: 0 0 5px 5px;
    background-color: #01122D;
}

.tour_info .info_text {
    width: 100%;
    text-align: center;
    margin: 60px 0 40px;
    padding: 0 200px;
    box-sizing: border-box;
}

.tour_info .info_text>h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #000;
}

.tour_info .info_vr { text-align: center; width: 100%; }

.tour_info .info_vr>a {
    background-color: #fff;
    border: 1px solid #021C47;
    box-sizing: border-box;
    color: #021C47;
    max-width: 250px;
    width: 100%;
    font-size:16px;
}

.tour_info .info_vr>a:hover {
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.095);
	border: 1px solid #0089D0;
	color: #2D7CB5;
}


/* tour_course */
.tour_course {
    width: 100%;
    padding: 80px 0 50px 60px !important;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.tour_course::after {
    content: "";
    width: 100%;
    height: 25px;
    background-color: #D5D5D5;
    display: block;
    position: absolute;
    bottom: 180px;
    left: 0;
    z-index: 0;
}

.tour_course>ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
}

.tour_course>ul>li {
    width: 30%;
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 25px;
    box-sizing: border-box;
}

.tour_course>ul>li>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tour_course>ul>li>div.right { padding-top: 160px; }


/* course_img */
.tour_course>ul>li .htg_img>span {
    display: inline-block;
    width: 245px;
    height: 245px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 0px 3px 5px 0px rgb(0, 0, 0, 0.09);
}

.tour_course>ul>li .htg_img>span>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* course_map_pin */
.tour_course .map_pin_course {
    display: block;
    background: url("../icons/map_pin.png") no-repeat center;
    background-size: contain;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

.tour_course .map_pin_course.active {
    background: url("../icons/map_pin_on.png") no-repeat center;
    background-size: contain;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}


/* course_info */
.tour_course .info_course {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tour_course .info_course .name { font-size: 20px; color: #333; }

.tour_course .info_course .view_course {
    font-size: 18px;
    color: #fff;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #616c7e;
    margin: 10px 0;
}

.tour_course .info_course .view_course:hover {
    background-color: #021C47;
    box-shadow: 0px 3px 5px 0px rgb(0, 0, 0, 0.09);
}

.tour_course .info_course .adress { font-size: 16px; color: #707070; }


/* course_hour */
.tour_course .hour {
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    background-color: #808080;
    padding: 5px 15px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.tour_course .distance {
    border-radius: 50px;
    color: #333;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 20px;
    box-sizing: border-box;
}


/* button */
.tour_course button {
    display: inline-block;
    width: 58px;
    height: 58px;
    line-height: 58px;
    border-radius: 100px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 20px;
    box-shadow: 0px 3px 5px 0px rgb(0, 0, 0, 0.09);
    position: absolute;
    z-index: 2;
    cursor: pointer;
    top: 65% !important;
}

.tour_course button.co_prev {
    background-image: url("../icons/course_prev_on.png");
    left: 20px;
}

.tour_course button.co_next {
    background-image: url("../icons/course_next_on.png");
    right: 20px;
}



/* map */
@media screen and (max-width:1440px) {
    .tour_info .info_text { padding: 0 20px; } 
    .tour_info .info_text>h3 { font-size: 24px; }
}

@media screen and (max-width:768px) {
	.tour_info .info_tit>span { font-size: 24px; }
	.tour_info .info_text>h3 { font-size: 20px; }
}

@media screen and (max-width:650px) {
	.tour_course>ul>li .htg_img>span { width:200px; height:200px; }
	.tour_course>ul>li>div.right { padding-top: 0; }
	.tour_course .info_course .name { font-size: 18px; }
	.map_box { height: 450px; }
} 

@media screen and (max-width:488px) {
    .tour_course { padding: 80px 0 50px 0 !important; }
    .tour_course>ul>li { width: 100% !important; padding: 0 5px; }
    .tour_course .hour { margin-bottom: 100px; }

    .tour_course .hour,
    .tour_course .distance {
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 20px;
    }

    .tour_course button { width: 45px; height: 45px; }
    .tour_course button.co_prev { left: 10px; }
    .tour_course button.co_next { right: 10px; }
}


/* vr 페이지 */
.wid-content {
    min-height: 253px;
    padding: 20px;
    background-color: #fff;
}

#tgd30-10_01 .wrapper{
    height:100vh;
    width:100vw;
    background-image: url("../img/background/vr360.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-height:860px;
    min-width:1200px;
}
#tgd30-10_01 .gnv-wrap{
    width:400px;height:100%;float:right;text-align: center;
    overflow: auto;
}
#tgd30-10_01 .gnv{
    color:#fff;
    font-size:1.2em;
    font-weight: 900;
    background-color: rgba(51, 63, 80, 0.9);
    height:auto;
}
#tgd30-10_01 .gnv li{
    height:79px;
    border-bottom: 1px solid #262f3b;
    border-left: 1px solid #262f3b;
    line-height: 83px;
}
#tgd30-10_01 .gnv li a{
    display:block;
    width:100%;
    height:100%;
}
#tgd30-10_01 .gnv li a:link, #tgd30-10_01 .gnv li a:visited{
    color:#fff;
    font-weight:900;
}
#tgd30-10_01 .gnv li a:hover, #tgd30-10_01 .gnv li a:focus{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
#tgd30-10_01 .gnv li a:active{
    box-shadow: inset 0 0 10px rgba(0,0,0,.5);
}
#tgd30-10_01 .btn-360vr{
    display:block;width:330px;height:60px;background-image: url('../img/btn/360vr.png')
}
#tgd30-10_01 .title{
    padding:30px 0;
}
#tgd30-10_01 .title h1{
    margin:0;font-size:6em;font-weight: 900;
}
#tgd30-10_01 .content{
    height:100%;width:100%;
    overflow: hidden;
}
#tgd30-10_01 .description{
    float:left; padding-top:200px;width:calc(100% - 400px);text-align: center;
}
#tgd30-10_01 .description > ul{
    color:#fff;text-align: left;display: inline-block;
}
#tgd30-10_01 .description > ul > li:last-child{
    margin-top:40px;
}
#tgd30-10_01 .description .text{
    font-size: 1.2em;font-weight: 900;
}
/* end vr360 page tgd30-10_01 */

/* tgd30-10_02 */
#tgd30-10_02 .wrapper{
    height:100vh;
    width:100vw;
    background-image: url("../img/background/vr360.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
/*     min-height:980px;  
    min-width:1200px; */
}
#tgd30-10_02 .wrapper .content{
    width:100%;
    height:100%;
    position: relative;
    overflow: hidden;
}
#tgd30-10_02 .wrapper .content > li{
    float:left;
}
#tgd30-10_02 .wrapper .content .contain{
    width:calc(100% - 150px);
    min-width:1024px;
    height:100%;
    position: relative;
}
#tgd30-10_02 .wrapper .content .contain .vr{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url(http://cfile3.uf.tistory.com/image/2652024C52DDD873360A78);
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#tgd30-10_02 .wrapper .content .contain .vr .btn-close{
    width:44px;
    height:44px;
    position: absolute;
    top:20px;
    left:20px;
    background: url("../img/btn/btn-close-x.png");
    cursor: pointer;
    display:block;
}
/* vr ë‹«ê¸°ë²„íŠ¼ ì¶”ê°€ */
#vrClose{
    width:44px;
    height:44px;
    position: absolute;
    top:20px;
    left:20px;
    background: url("../img/btn/btn-close-x.png");
    cursor: pointer;
    display:block;
    z-index: 3000;
}
#tgd30-10_02 .wrapper .content .contain .vr .control{
    width:790px;
    height:140px;
    overflow: hidden;
    background-color: rgba(51, 63, 80, 0.8);
    position:absolute;
    left:50%;
    bottom: 40px;
    margin-left:-395px;
}
#tgd30-10_02 .contain .vr .control .vr-thumbnail{
    height:100px;
}
#tgd30-10_02 .contain .vr .control .vr-thumbnail .thumbnail-wrap{
    width:100%;
    height:100%;
    padding:5px;
    text-align: center;
}
#tgd30-10_02 .contain .vr .control .vr-thumbnail .thumbnail-wrap img.active{
    border:2px solid #fff;
}
#tgd30-10_02 .contain .vr .control .vr-thumbnail .thumbnail-wrap img{
    cursor: pointer;
    margin:4px;
    width:122px;
    height:82px;
    box-sizing: border-box;
}
#tgd30-10_02 .contain .vr .control .control-panel{
    height:40px;
}
#tgd30-10_02 .vr .control .control-panel a{
    display:block;
    float:left;
    width:32px;
    height:32px;
    margin:4px;
    overflow: hidden;
    background-image: url("../img/vr360/vrcontrol.png");
    background-size: 64px 384px;
    background-repeat: no-repeat;
}
#tgd30-10_02 .vr .control .control-panel a.con-pre{
    background-position: 0 -32px;
}
#tgd30-10_02 .vr .control .control-panel a.con-prev{
    background-position: 0 -64px;
    margin-right:154px;
}
#tgd30-10_02 .vr .control .control-panel a.con-left{
    background-position: 0 -94px;
}
#tgd30-10_02 .vr .control .control-panel a.con-right{
    background-position: -32px -95px;
}
#tgd30-10_02 .vr .control .control-panel a.con-up{
    background-position: 0 -127px;
}
#tgd30-10_02 .vr .control .control-panel a.con-down{
    background-position: -32px -127px;
}
#tgd30-10_02 .vr .control .control-panel a.con-plus{
    background-position: 0 -160px;
}
#tgd30-10_02 .vr .control .control-panel a.con-minus{
    background-position: -32px -160px;
}
#tgd30-10_02 .vr .control .control-panel a.con-vr{
    background-position: 0 0;
    width:42px;
}
#tgd30-10_02 .vr .control .control-panel a.con-full{
    background-position: 0 -288px;
    margin-left:154px;
}
#tgd30-10_02 .vr .control .control-panel a.con-hide{
    background-position: 0 -226px;
}
#tgd30-10_02 .vr .control .control-panel a.con-next{
    background-position: -32px -32px;
}
#tgd30-10_02 .wrapper .content .contain .map{
    width:100%;
    height:100%;
    background-image: url(../img/map-sample.png);
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#tgd30-10_02 .gnv-wrap{
    width:150px;
    height:100%;
    float:right;
    text-align: center;
    z-index:3;
    position: absolute;
    top:0;
    right:0;
}
#tgd30-10_02 .gnv{
    color:#fff;
    font-size:1em;
    font-weight: 500;
    background-color: #475261;
    height:100%;
    overflow-y: scroll;
}
#tgd30-10_02 .gnv li:first-child{
    height:87px;
    background: url("../img/vr360/360vr-01.png") no-repeat center;
    width:100%;
    background-size: cover;
}
#tgd30-10_02 .gnv li{
    height:75px;
    line-height: 75px;
    border-bottom: 1px solid #fff;
}
#tgd30-10_02 .gnv li a{
    display:block;
    width:100%;
    height:100%;
}
#tgd30-10_02 .gnv li a:link, #tgd30-10_01 .gnv li a:visited{
    color:#fff;
    font-weight:500;
}
#tgd30-10_02 .sub-list li a:link{
    color:#fff;
    font-weight:500;
}
#tgd30-10_02 .gnv li a:hover, #tgd30-10_0 .gnv li a:focus{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    background-color: #f27078;
}
#tgd30-10_02 .gnv li a:active{
    box-shadow: inset 0 0 10px rgba(0,0,0,.5);
}
#tgd30-10_02 .gnv li a.active{
    background-color: #f27078;
}
#tgd30-10_02 .content .gnv-sub{
    position: absolute;
    top:0;
    right:-270px;
    width:270px;
    height:100%;
    background-color:#333f50;
    color:#fff;
    overflow: hidden;
    z-index:2;
    transition: right .5s;
}
#tgd30-10_02 .sub-list{
    width:100%;
    position: relative;
    box-sizing: border-box;
    padding:57px 0;
}
#tgd30-10_02 .sub-list li{
    width:100%;
    font-weight: 500;
    font-size:.9em;
    color:#e8e8e8;
    padding:20px 15px;
    cursor: pointer;
}
#tgd30-10_02 .sub-list li.active{
    /*box-shadow: inset 0 0 20px rgba(0,0,0,.5);*/
    background-color: #526681;
    color:#fff;
}
#tgd30-10_02 .gnv-sub .btn-up, #tgd30-10_02 .gnv-sub .btn-down{
    width:100%;
    position: absolute;
    text-align: left;
    border:none;
    padding:0;
    z-index: 10;
    background-color: #333f50;
    cursor: pointer;
    padding-left:20px;
    height:57px;
    line-height:57px;
}
#tgd30-10_02 .gnv-sub .btn-up{
    top:0;
}
#tgd30-10_02 .gnv-sub .btn-down{
    bottom:0;
}
#tgd30-10_02 .content-detail{
    width:304px;
    height:100%;
    position:absolute;
    top:0;
    right:-304px;
    background-color:#fff;
    transition:right .5s;
    z-index: 1;
}
#tgd30-10_02 .content-detail .img-wrap img{
    width:100%;
}
#tgd30-10_02 .wid-content .btn-detail, #tgd30-10_02 .wid-content .btn-vr{
    padding:0 1em;
}
#tgd30-10_02 .wid-content .text-box{
    height:auto;
    line-height:1.4em;
    font-weight:500;
    -webkit-line-clamp: unset;
    margin-bottom:20px;
}
#tgd30-10_02 .content-detail .btn-close{
    position:absolute;
    width:44px;
    height:44px;
    overflow: hidden;
    top:0;
    left:-44px;
    cursor: pointer;
    background-image: url(../img/btn/btn-close.png);
    z-index: 3000; /* vr í™”ë©´ì—ì„œ ë¬¸í™”ìž¬ ë¦¬ìŠ¤íŠ¸ ë‹«ê¸° ë²„íŠ¼ ì•ˆë³´ì—¬ì„œ ì¶”ê°€í•¨ */
}

.btn-up img {
    width: 25px;
    height: 15px;
    object-fit: unset;
    display: inline-block;
}

.btn-down img {
    width: 25px;
    height: 15px;
    object-fit: unset;
    display: inline-block;
}

.wid-content{
    padding:20px;
    background-color: #fff;
}
.wid-content > img{
    margin-bottom:10px;
}
.wid-content .title{
    font-weight:900;
    font-size:1.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wid-content .btn-review {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    line-height: 38px;
    padding: 0 40px;
    display: inline-block;
    color: #333;
    font-weight: 900;
    margin-top: 5px;
}
.wid-content .btn-detail{
    background-color:#fff;
    border:1px solid #d8d8d8;
    line-height:38px;
    padding:0 40px;
    display: inline-block;
    color:#333;
    font-weight:700;
    margin-top:5px;
}
.wid-content .btn-vr{
    background-color:#fff;
    border:1px solid #d8d8d8;
    line-height:38px;
    padding:0 40px;
    display: inline-block;
    color:#333;
    font-weight:700;
    margin-top:5px;
}
.wid-content .text-box{
    height:3.6em;
    overflow: hidden;
    color:#666666;
    font-size:.9em;

    /* í•œ ì¤„ ìžë¥´ê¸° */
    display: inline-block;
    text-overflow: ellipsis;

    /* ì—¬ëŸ¬ ì¤„ ìžë¥´ê¸° ì¶”ê°€ ìŠ¤íƒ€ì¼ */
    white-space: normal;
    line-height: 1.2;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.main-04 .wid-content .text-box{
    overflow: hidden;
}
.wid-content hr{
    margin-top:10px;
    margin-bottom:10px;
    border-top:1px solid #d8d8d8;
}
.wid-content .location{
    font-size:.9em;
    color:#989898;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wid-content .location i{
    font-size:1.2em;
}
.btn-quick-wrap{
    padding-right:15px;
}
.btn-quick-wrap > .btn{
    width:180px;
    height:81px;
    border:4px solid #333;
    color:#333;
    text-align: center;
    font-weight: 900;
    font-size:1.2em;
    padding:12px 0;
    position:relative;
}
.btn-quick-wrap > .btn span{
    display:inline-block;
    text-align: left;
}
.btn-quick-wrap > .btn:after{
    content: '';
    display:block;
    width:80px;
    height:10px;
    border-right:2px solid #333;
    border-bottom:2px solid #333;
    position:absolute;
    top:50%;
    left:80%;
    transform:skewX(50deg);
}
.wid-content .btn-like{
    background-color:#fff;
    border:1px solid #d8d8d8;
    line-height:38px;
    padding:0 20px;
    display: inline-block;
    color:#333;
    font-weight:900;
    margin-top:5px;
}
.wid-content .btn-like i{
    color:#cf002f;
}
.wid-content .btn-more{
    background-color:#fff;
    border:1px solid #d8d8d8;
    line-height:38px;
    padding:0 9px;
    display: inline-block;
    color:#333;
    font-weight:900;
    margin-top:5p
}
/* end tgd30-10_02 */

/* mobile_tgd30-10_02 */
#mobile_tgd30-10_02 .wrapper{
    /*height:100vh;*/
    width:100vw;
    background-image: url("../img/background/vr360.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
#mobile_tgd30-10_02 .wrapper .content{
    width:100%;
    height:100%;
    position: relative;
    overflow: hidden;
}
#mobile_tgd30-10_02 .wrapper .content > li{
    float:left;
}
#mobile_tgd30-10_02 .wrapper .content .contain{
    width:100%;
    /*min-width:1024px;*/
    height:100%;
    position: absolute;
}
#mobile_tgd30-10_02 .wrapper .content .contain .vr{
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
    width:100%;
    height:100%;
    background-image: url(http://cfile3.uf.tistory.com/image/2652024C52DDD873360A78);
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#mobile_tgd30-10_02 .wrapper .content .contain .vr .btn-close{
    width:44px;
    height:44px;
    position: absolute;
    top:0;
    left:0;
    background: url("../img/btn/btn-close-x.png");
    cursor: pointer;
    display:block;
}
#mobile_tgd30-10_02 .wrapper .content .contain .vr .control{
    width:calc(100% - 20px);
    height:140px;
    overflow: hidden;
    background-color: rgba(51, 63, 80, 0.8);
    position:absolute;
    left:50%;
    bottom: 10px;
    transform:translate3d(-50%, 0, 0);
}
#mobile_tgd30-10_02 .contain .vr .control .vr-thumbnail{
    height:100px;
}
#mobile_tgd30-10_02 .contain .vr .control .vr-thumbnail .thumbnail-wrap{
    width:100%;
    height:100%;
    padding:5px;
    text-align: center;
}
#mobile_tgd30-10_02 .contain .vr .control .vr-thumbnail .thumbnail-wrap img.active{
    border:2px solid #fff;
}
#mobile_tgd30-10_02 .contain .vr .control .vr-thumbnail .thumbnail-wrap img{
    cursor: pointer;
    margin:4px;
    width:122px;
    height:82px;
    box-sizing: border-box;
}
#mobile_tgd30-10_02 .contain .vr .control .control-panel{
    height:40px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a{
    display:block;
    float:left;
    width:32px;
    height:32px;
    margin:4px;
    overflow: hidden;
    background-image: url("../img/vr360/vrcontrol.png");
    background-size: 64px 384px;
    background-repeat: no-repeat;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-pre{
    background-position: 0 -32px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-prev{
    background-position: 0 -64px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-left{
    background-position: 0 -94px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-right{
    background-position: -32px -95px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-up{
    background-position: 0 -127px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-down{
    background-position: -32px -127px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-plus{
    background-position: 0 -160px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-minus{
    background-position: -32px -160px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-vr{
    background-position: 0 0;
    width:42px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-full{
    background-position: 0 -288px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-hide{
    background-position: 0 -226px;
}
#mobile_tgd30-10_02 .vr .control .control-panel a.con-next{
    background-position: -32px -32px;
}
#mobile_tgd30-10_02 .wrapper .content .contain .map{
    width:100%;
    height:100%;
    background-image: url(../img/map-sample.png);
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#mobile_tgd30-10_02 .gnv-wrap{
    width: 100%;
    height: 100%;
    float: right;
    text-align: center;
    z-index:3;
    position: static;
    top:0;
    right:0;
}
#mobile_tgd30-10_02 .gnv{
    color:#fff;
    font-size:1em;
    font-weight: 900;
    background-color: #475261;
    height:100%;
}
#mobile_tgd30-10_02 .gnv > li:first-child{
    height:60px;
    background: url("../img/vr360/360vr-02.png");
    background-position: center center;
    background-repeat:no-repeat;
    background-color:#fff;
    background-size: auto 38px;
}

#mobile_tgd30-10_02 .gnv li a { padding:20px 0; }
#mobile_tgd30-10_02 .gnv li { border-bottom: 1px solid #252e3a; }

#mobile_tgd30-10_02 .gnv li a {
    display:block;
    width:100%;
    height:100%;
    background-image: url("../img/vr360/icon_down.png");
    background-size: 24px 10px;
    background-position: 90% center;
    background-repeat: no-repeat;
}

#mobile_tgd30-10_02 .gnv li a:link, #tgd30-10_01 .gnv li a:visited{
    color:#fff;
    font-weight:900;
}

#mobile_tgd30-10_02 .gnv li a:hover, #tgd30-10_0 .gnv li a:focus{
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    background-color: #f27078;
}

#mobile_tgd30-10_02 .gnv li a:active { box-shadow: inset 0 0 10px rgba(0,0,0,.5); }

#mobile_tgd30-10_02 .gnv li a.active{
    background-color: #f27078;
    background-image: url("../img/vr360/icon_up.png");
    background-size: 24px 10px;
    background-position: 90% center;
    background-repeat: no-repeat;
}

#mobile_tgd30-10_02 .content .gnv-sub.active { display:block; }

#mobile_tgd30-10_02 .content .gnv-sub {
    /*position: absolute;*/
    display:none;
    top:0;
    width:100%;
    height:100%;
    background-color:#333f50;
    color:#fff;
    overflow: hidden;
    z-index:2;
    transition: right .5s;
}

#mobile_tgd30-10_02 .sub-list{
    width:100%;
    position: relative;
    box-sizing: border-box;
}
 
#mobile_tgd30-10_02 .sub-list li{
    width:100%;
    font-weight: 900;
    font-size:.9em;
    color:#e8e8e8;
    padding:20px 15px;
    cursor: pointer;
}

#mobile_tgd30-10_02 .sub-list li.active { color:#ff8b93; }

#mobile_tgd30-10_02 .gnv-sub .btn-up, #mobile_tgd30-10_02 .gnv-sub .btn-down {
    width:100%;
    position: absolute;
    text-align: left;
    border:none;
    padding:0;
    z-index: 10;
    background-color: #333f50;
    cursor: pointer;
    padding-left:20px;
    height:57px;
    line-height:57px;
}

#mobile_tgd30-10_02 .gnv-sub .btn-up { top:0; }
#mobile_tgd30-10_02 .gnv-sub .btn-down { bottom:0; }

#mobile_tgd30-10_02 .content-detail{
    width:100%;
    height:100%;
    /*position:absolute;*/
    top:0;
    left:0;
    background-color:#fff;
    transition:right .5s;
    z-index: 1;
}

#mobile_tgd30-10_02 .content-detail .img-wrap img { width:100%; }

#mobile_tgd30-10_02 .wid-content .btn-detail, 
#mobile_tgd30-10_02 .wid-content .btn-vr {
    padding:0 1em;
}

#mobile_tgd30-10_02 .wid-content .text-box{
    height:auto;
    line-height:1.4em;
    font-weight:900;
    -webkit-line-clamp: unset;
    margin-bottom:20px;
}

#mobile_tgd30-10_02 .content-detail .btn-close{
    position:absolute;
    width:48px;
    height:48px;
    overflow: hidden;
    top:0;
    left:0;
    cursor: pointer;
    background-image: url(../img/icon/btn-close-transprent.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-color:rgba(0,0,0,.5);
    background-size:20px;
}
/* end mobile_tgd30-10_02 */
